<div ng-controller="vrstaPlacanjaController">
	<h1 id="header" class="page-header">Vrste placanja</h1>
	<p>
	<div class="container">
		<div class="table-responsive">
			<table class="table">
				<tr>
					<div class="btn-group">
						<button type="button" class="btn btn-default"
							ng-click="changeMode('filter')" disabled>
							<img class="dugmici" src="images/search.gif" />
						</button>
						<button type="button" class="btn btn-default"
							ng-click="refreashTable()" disabled>
							<img class="dugmici" src="images/refresh.gif" />
						</button>
						<button type="button" class="btn btn-default">
							<img class="dugmici" src="images/zoom-pickup.gif" />
						</button>
						<button type="button" class="btn btn-default">
							<img class="dugmici" src="images/help.gif" />
						</button>
						<button type="button" class="btn btn-default">
							<img class="dugmici" src="images/zoom-pickup.gif" />
						</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default" ng-click="first()">
							<img class="dugmici" src="images/first.gif" />
						</button>
						<button type="button" class="btn btn-default"
							ng-disabled="!selectedVrstaPlacanja" ng-click="prev()">
							<img class="dugmici" src="images/prev.gif" />
						</button>
						<button type="button" class="btn btn-default"
							ng-disabled="!selectedVrstaPlacanja" ng-click="next()">
							<img class="dugmici" src="images/next.gif" />
						</button>
						<button type="button" class="btn btn-default" ng-click="last()">
							<img class="dugmici" src="images/last.gif" />
						</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default"
							ng-click="changeMode('add')"
							ng-disabled="$parent.korisnik.ulogaZ != 'Administrator'">
							<img class="dugmici" src="images/add.gif" />
						</button>
						<button type="button" class="btn btn-default"
							ng-disabled="!selectedVrstaPlacanja || $parent.korisnik.ulogaZ != 'Administrator'"
							confirmed-click="izbrisiVrstuPlacanja()"
							ng-confirm-click="Da li zelite da izbrisete selektovanu vrstu placanja? Potvrda brisanja nosi sve podatke zavisne od njega.">
							<img class="dugmici" src="images/remove.gif" />
						</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default"
							ng-click="nextForm()" disabled>
							<img class="dugmici" src="images/nextform.gif" />
						</button>
						</p>
					</div>
					&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Trenutni mod : {{mode}}
				</tr>
				<thead>
					<tr>
						<th>Naziv</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="v in sveVrstePlacanja"
						ng-click="setSelectedVrstaPlacanja(v)"
						ng-class="{'info' : selectedVrstaPlacanja === v}">
						<td>{{v.naziv}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br />
	</div>
	<div class="container" id="razmak">
		<form class="form-horizontal" role="blabla" name="myForm" novalidate>
			<div class="form-group">
				<label for="ime" class="col-sm-3 control-label">Naziv</label>
				<div class="col-sm-9">
					<input type="text" id="naziv" class="form-control"
						placeholder="Unesi naziv " ng-Model="vrstaPlacanja.naziv"
						ng-disabled="mode == 'nulto'" pattern="^[A-Z][a-z A-Z]*" required
						autofocus>
				</div>
			</div>
			<div role="alert" style="color: red">
				<span class="error" ng-show="myForm.ime.$error.pattern">
					Primjer sa svim dozvoljenim slovima : "Sasa_da nekaNsda" !</span>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<button type="submit" ng-Click="regVrstaPlacanja()"
						ng-disabled="myForm.$invalid || mode == 'nulto' || $parent.korisnik.ulogaZ != 'Administrator' && mode != 'filter'"
						class="btn btn-primary btn-block">Potvrdi</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<button type="submit" ng-Click="odustani()"
						class="btn btn-primary btn-block">Odustani</button>
				</div>
			</div>
		</form>
		<!-- /form -->
	</div>
	<!-- ./container -->