<div ng-controller="kvController">
	<h1 id="header" class="page-header">Kursevi</h1>
	<p>
	<div class="container">
		<div class="table-responsive">
			<table class="table">
				<tr>
					<div class="btn-group">
						<button type="button" class="btn btn-default"
							ng-click="changeMode('Pretraga')">
							<img class="dugmici" src="images/search.gif" />
						</button>
						<button type="button" class="btn btn-default"
							ng-click="refreash()">
							<img class="dugmici" src="images/refresh.gif" />
						</button>
						<button type="button" class="btn btn-default"
							ng-click="changeMode(3)">
							<img class="dugmici" src="images/zoom-pickup.gif" />
						</button>
						<button type="button" class="btn btn-default"
							ng-click="changeMode(4)">
							<img class="dugmici" src="images/help.gif" />
						</button>
						<button type="button" class="btn btn-default"
							ng-click="changeMode(5)">
							<img class="dugmici" src="images/zoom-pickup.gif" />
						</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default" ng-click="first()">
							<img class="dugmici" src="images/first.gif" />
						</button>
						<button type="button" class="btn btn-default"
							ng-disabled="!selectedV" ng-click="prev()">
							<img class="dugmici" src="images/prev.gif" />
						</button>
						<button type="button" class="btn btn-default"
							ng-disabled="!selectedV" ng-click="next()">
							<img class="dugmici" src="images/next.gif" />
						</button>
						<button type="button" class="btn btn-default" ng-click="last()">
							<img class="dugmici" src="images/last.gif" />
						</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default"
							ng-click="changeMode('Dodavanje')">
							<img class="dugmici" src="images/add.gif" />
						</button>
						<button type="button" class="btn btn-default"
							ng-disabled="!selectedV" ng-click="izbrisiV()"
							ng-confirm-click="Da li zelite da izbrisete selektovani kurs? Potvrda brisanja nosi sve podatke zavisne od njega.">
							<img class="dugmici" src="images/remove.gif" />
						</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default"
							ng-click="changeMode(13)" disabled>
							<img class="dugmici" src="images/nextform.gif" />
						</button>
						</p>
					</div>
					&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
					Trenutni mod : {{mode}}

				</tr>
				<thead>
					<tr>
						<th>Kupovni</th>
						<th>Srednji</th>
						<th>Prodajni</th>
						<th>Prema valuti</th>
						<th>Osnovna valuta</th>
						<th>Kursna lista</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="v in sveV track by v.id" ng-click="setSelectedV(v)"
						ng-class="{'info' : selectedV.id === v.id}">
						<td>{{v.kupovni}}</td>
						<td>{{v.srednji}}</td>
						<td>{{v.prodajni}}</td>
						<td>{{v.premaValuti.naziv}}</td>
						<td>{{v.osnovnaValuta.naziv}}</td>
						<td>{{v.kursnaLista.broj}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br />
	</div>
	<div class="container" id="razmak">
		<form class="form-horizontal" role="blabla" name="myForm" novalidate>
			<div class="form-group">
				<label for="kupovni" class="col-sm-3 control-label">Kupovni</label>
				<div class="col-sm-9">
					<input type="text" id="kupovni" class="form-control"
						placeholder="kupovni" name="sifra" ng-Model="novaV.kupovni"
						ng-disabled="mode == 'Pregled'" pattern="[0-9]*\.?[0-9]+" autofocus>
				</div>
			</div>
			<div role="alert" style="color: red">
				<span class="error" ng-show="myForm.sifra.$error.pattern">
					Decimalni broj !</span>
			</div>
			<div class="form-group">
				<label for="srednji" class="col-sm-3 control-label">Srednji</label>
				<div class="col-sm-9">
					<input type="text" id="srednji" class="form-control"
						placeholder="srednji" name="naziv" ng-Model="novaV.srednji"
						ng-disabled="mode == 'Pregled'" pattern="[0-9]*\.?[0-9]+">
				</div>
			</div>
			<div role="alert" style="color: red">
				<span class="error" ng-show="myForm.naziv.$error.pattern">
					Decimalni booj !</span>
			</div>
			<div class="form-group">
				<label for="prodajni" class="col-sm-3 control-label">Prodajni</label>
				<div class="col-sm-9">
					<input type="text" id="prodajni" class="form-control"
						placeholder="prodajni" name="nesto" ng-Model="novaV.prodajni"
						ng-disabled="mode == 'Pregled'" pattern="[0-9]*\.?[0-9]+">
				</div>
			</div>
			<div role="alert" style="color: red">
				<span class="error" ng-show="myForm.nesto.$error.pattern">
					Decimalni broj !</span>
			</div>

			<div class="form-group">
				<label for="val" class="col-sm-3 control-label">Prema valuti</label>
				<div class="col-sm-6">
					<select id="val" ng-model="valutaK" disabled 
						ng-options="v as v.naziv for v in valute" class="form-control">

					</select>
				</div>
				<div>
					<button type="button" id="izaberi" class="btn btn-default"
						data-toggle="modal" data-target="#izaberiValutu">Izaberi</button>
				</div>
			</div>

			<div class="form-group">
				<label for="val2" class="col-sm-3 control-label">Osnovna
					valuta</label>
				<div class="col-sm-6">
					<select id="val2" ng-model="valutaK2" disabled
						ng-options="va as va.naziv for va in valute" class="form-control">
					</select>
				</div>
				<div>
					<button type="button" id="izaberi" class="btn btn-default"
						data-toggle="modal" data-target="#izaberiValutu2">Izaberi</button>
				</div>
			</div>

			<div class="form-group">
				<label for="k1" class="col-sm-3 control-label">Kursna lista</label>
				<div class="col-sm-6">
					<select id="k1" ng-model="kl" disabled
						ng-options="k as k.broj for k in sveListe" class="form-control">
					</select>
				</div>
				<div>
					<button type="button" id="izaberi" class="btn btn-default"
						data-toggle="modal" data-target="#izaberiListu">Izaberi</button>
				</div>
			</div>

			<!-- /.form-group -->

			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<button type="submit" ng-Click="regV()"
						ng-disabled="myForm.$invalid" class="btn btn-primary btn-block">Potvrdi</button>
				</div>

			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<button type="submit" ng-Click="odustani()"
						class="btn btn-primary btn-block">Odustani</button>
				</div>
			</div>
		</form>
		<!-- /form -->
	</div>
	<!-- ./container -->

	<div id="izaberiValutu" class="modal fade" role="dialog"
		style="color: black;">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Izaberi valutu</h4>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead>
							<tr>
								<th>Sifra</th>
								<th>Naziv</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="v in valute" ng-click="setSelectedValuta(v)"
								ng-class="{'info' : valutaK===v}">
								<td>{{v.zvanicnaSifra}}</td>
								<td>{{v.naziv}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>

	<div id="izaberiValutu2" class="modal fade" role="dialog"
		style="color: black;">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Izaberi valutu</h4>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead>
							<tr>
								<th>Sifra</th>
								<th>Naziv</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="v2 in valute" ng-click="setSelectedValuta2(v2)"
								ng-class="{'info' : valutaK2===v2}">
								<td>{{v2.zvanicnaSifra}}</td>
								<td>{{v2.naziv}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>


	<div id="izaberiListu" class="modal fade" role="dialog"
		style="color: black;">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Izaberi kursnu listu</h4>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead>
							<tr>
								<th>Datum</th>
								<th>Primenjuje se od</th>
								<th>Broj</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="kk in sveListe" ng-click="setSelectedLista(kk)"
								ng-class="{'info' : kl===kk}">
								<td>{{kk.datum}}</td>
								<td>{{kk.primjenjujeSeOd}}</td>
								<td>{{kk.broj}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>