<!doctype html>
<html>
<head>
<title>Poslovna</title>
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
<link href="css/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link href="css/ng-notify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/sweetalert.min.js"></script>
<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/service.js"></script>
<script type="text/javascript" src="Klijent/klijentController.js"></script>
<script type="text/javascript" src="Klijent/klijentService.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/ng-notify.js"></script>
</head>
<body ng-app="webApp">

	<!-- HEADER AND NAVBAR -->
	<div ng-controller="appController">
		<header>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<ul class="nav navbar-nav navbar-right" ng-show="!korisnik">
						<form id="signin" name="signin" class="navbar-form navbar-right"
							role="form">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-user"></i></span> <input id="username"
									type="text" class="form-control" name="username" value=""
									ng-Model="logovanje.korisnickoIme" placeholder="Username"
									required>
							</div>

							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-lock"></i></span> <input id="password"
									type="password" class="form-control" name="password" value=""
									ng-Model="logovanje.lozinka" placeholder="Password" required>
							</div>

							<button type="submit" ng-disabled="signin.$invalid"
								class="btn btn-primary" ng-click="submitLogin()">Login</button>
						</form>
					</ul>
					<ul class="nav navbar-nav navbar-right" ng-show="korisnik">
						<form id="signin" class="navbar-form navbar-right" role="form">
							<div ng-show="korisnik.ulogaZ != 'Administrator'">
								<button type="button" class="btn btn-primary"
									ng-click="preuzmiKlijente()">Klijenti</button>
							</div>
							<a href="#!/changePassword">Settings</a>
							<button type="submit" class="btn btn-primary" ng-click="logout()">Logout</button>
						</form>
					</ul>
				</div>
			</nav>
		</header>
		<!-- MAIN CONTENT AND INJECTED VIEWS -->
		<div id="main">
			<div ng-view></div>
		</div>
	</div>
</body>
</html>