
<form name="addDepositSlip">
	<fieldset>


		<!-- TRANSFER NALOG -->
		<div ng-switch on="nalog.tipTransakcije">
			<div ng-switch-when="TRANSFER">

				<div class="leftSideOfDepositSlip">
					<div>
						<label class="infoLabel"> Nalogodavac:</label> <input type="text"
							class="form-control bigerLabel" ng-model="nalog.duznik">
						</input>
					</div>
					<div>
						<label class="infoLabel"> Svrha uplate:</label> <input type="text"
							class="form-control bigerLabel" ng-model="nalog.svrhaPlacanja">
						</input>
					</div>
					<div>
						<label class="infoLabel"> Primalac:</label> <input type="text"
							class="form-control bigerLabel" ng-model="nalog.povjerilac">
						</input>
					</div>
				</div>
				<div class="rightSideOfDepositSlip">
					<div>
						<label class="infoLabel code3Num"> Valuta</label>
						<!-- valuta	 -->
						<label class="infoLabel labelAfterCode"> Iznos</label>
						<!-- iznos -->
						<input type="text" class="form-control code3Num"
							ng-model="nalog.valuta" /> <input type="number"
							class="form-control inputAfter3Num" ng-model="nalog.iznos" />
					</div>

					<div>
						<label class="infoLabel"> Racun nalogodavca</label>
						<!-- racun primaoca -->
						<input type="text" class="form-control"
							ng-model="nalog.racunDuznika"> </input>
					</div>

					<div>
						<label class="infoLabel code3Num"> Model</label>
						<!-- model odobrenja -->
						<label class="infoLabel labelAfterCode"> Poziv na broj
							approval</label>
						<!-- poziv na broj odobrenja -->
						<input type="number" class="form-control code3Num"
							ng-model="nalog.modelZaduzenja"> </input> <input type="text"
							class="form-control inputAfter3Num"
							ng-model="nalog.pozivNaBrojZaduzenja"> </input>
					</div>

					<div>
						<label class="infoLabel"> Racun primaoca</label>
						<!-- racun primaoca -->
						<input type="text" class="form-control"
							ng-model="nalog.racunPovjerioca"> </input>
					</div>

					<div>
						<label class="infoLabel code3Num"> Model</label>
						<!-- model odobrenja -->
						<label class="infoLabel labelAfterCode"> Poziv na broj
							odobrenja</label>
						<!-- poziv na broj odobrenja -->
						<input type="number" class="form-control code3Num"
							ng-model="nalog.modelOdobrenja"> </input> <input type="text"
							class="form-control inputAfter3Num"
							ng-model="nalog.pozivNaBrojOdobrenja"> </input>
					</div>
					<br />
					<div>
						<label class="infoLabel"> Hitno </label> <input
							ng-model="nalog.hitno" type="checkbox" value="1" name="" />
						<!-- hitno -->
					</div>
				</div>

			</div>

			<!-- NALOG ZA UPLATU -->

			<div ng-switch-when="UPLATA">
				<div class="leftSideOfDepositSlip">
					<div>
						<label class="infoLabel"> Nalogodavac:</label> <input type="text"
							class="form-control bigerLabel" ng-model="nalog.duznik">
						</input>
					</div>
					<div>
						<label class="infoLabel"> Svrha uplate:</label> <input type="text"
							class="form-control bigerLabel" ng-model="nalog.svrhaPlacanja">
						</input>
					</div>
					<div>
						<label class="infoLabel"> Primalac:</label> <input type="text"
							class="form-control bigerLabel" ng-model="nalog.povjerilac">
						</input>
					</div>
				</div>
				<div class="rightSideOfDepositSlip">
					<div>
						<label class="infoLabel code3Num"> Valuta</label>
						<!-- valuta	 -->
						<label class="infoLabel labelAfterCode"> Iznos</label>
						<!-- iznos -->
						<input type="text" class="form-control code3Num"
							ng-model="nalog.valuta" /> <input type="number"
							class="form-control inputAfter3Num" ng-model="nalog.iznos" />
					</div>

					<div>
						<label class="infoLabel"> Racun primaoca</label>
						<!-- racun primaoca -->
						<input type="text" class="form-control"
							ng-model="nalog.racunPovjerioca"> </input>
					</div>

					<div>
						<label class="infoLabel code3Num"> Model</label>
						<!-- model odobrenja -->
						<label class="infoLabel labelAfterCode"> Poziv na broj
							odobrenja</label>
						<!-- poziv na broj odobrenja -->
						<input type="number" class="form-control code3Num"
							ng-model="nalog.modelOdobrenja"> </input> <input type="text"
							class="form-control inputAfter3Num"
							ng-model="nalog.pozivNaBrojOdobrenja"> </input>
					</div>
				</div>
			</div>

			<!-- NALOG ZA ISPLATU -->

			<div ng-switch-when="ISPLATA">

				<div class="leftSideOfDepositSlip">
					<div>
						<label class="infoLabel"> Nalogodavac:</label> <input type="text"
							class="form-control bigerLabel" ng-model="nalog.duznik">
						</input>
					</div>
					<div>
						<label class="infoLabel"> Svrha uplate:</label> <input type="text"
							class="form-control bigerLabel" ng-model="nalog.svrhaPlacanja">
						</input>
					</div>
					<div>
						<label class="infoLabel"> Primalac:</label> <input type="text"
							class="form-control bigerLabel" ng-model="nalog.povjerilac">
						</input>
					</div>
				</div>
				<div class="rightSideOfDepositSlip">
					<div>
						<label class="infoLabel code3Num"> Valuta</label>
						<!-- valuta	 -->
						<label class="infoLabel labelAfterCode"> Iznos</label>
						<!-- iznos -->
						<input type="text" class="form-control code3Num"
							ng-model="nalog.valuta" /> <input type="number"
							class="form-control inputAfter3Num" ng-model="nalog.iznos" />
					</div>

					<div>
						<label class="infoLabel"> Racun duznika</label>
						<!-- racun primaoca -->
						<input type="text" class="form-control"
							ng-model="nalog.racunDuznika"> </input>
					</div>

					<div>
						<label class="infoLabel code3Num"> Model</label>
						<!-- model odobrenja -->
						<label class="infoLabel labelAfterCode"> Poziv na broj
							odobrenja</label>
						<!-- poziv na broj odobrenja -->
						<input type="number" class="form-control code3Num"
							ng-model="nalog.modelOdobrenja"> </input> <input type="text"
							class="form-control inputAfter3Num"
							ng-model="nalog.pozivNaBrojOdobrenja"> </input>
					</div>
				</div>

			</div>
		</div>
	</fieldset>
	<div class="dates">
		<div class="depositSlipDateDiv">
			<label class="infoLabel"> Datum primanja</label>
			<!-- datum naloga, isti kao currency date -->
			<input type="date" class="form-control"
				ng-model="nalog.datumPrimanja">
		</div>
		<div class="currencySlipDateDiv">
			<label class="infoLabel"> Datum valute</label>
			<!-- datum valute -->
			<input type="date" class="form-control" ng-model="nalog.datumValute">
		</div>
	</div>

	<div class="buttonsDepositSlip">
		<button class="btn btn-primary" ng-click="kreiraj()">Posalji
		</button>
		<button class="btn btn-primary" ng-click="odustani()">
			Odustani</button>
	</div>

</form>